postgres:
  hostname: "postgres"
  port: 5432  # Default PostgreSQL port
  db_name: "helixdb"
  user: "postgres"
  password: "postgres"
  region: 0  # Keeping default value
  region_name: "bolt"  # Keeping default value

redis:
  url: "redis://redis:6379"

network_config: 
  !Custom
    dir_path: ./network_config.json
    genesis_validator_root: 0x212f13fc4df078b6cb7db228f1c8307566dcecf900867401a92023d7ba99cb5f
    genesis_time: 1742213400

simulators:
  - url: "http://[49.13.144.62]:8545"

beacon_clients:
  - url: "http://49.13.144.62:4000"

builders:
  # Reference: https://github.com/chainbound/bolt-builder/blob/main/cmd/utils/flags.go#L691-L691
  - pub_key: "0xa55c1285d84ba83a5ad26420cd5ad3091e49c55a813eee651cd467db38a8c8e63192f47955e9376f6b42f6d190571cb5"
    builder_info:
      collateral: "999999999"
      builder_id: "Interstate Builder"
      is_optimistic: false
      is_optimistic_for_regional_filtering: false
      

# Optional settings
validator_preferences:
  filtering: "regional"
  header_delay: true

router_config:
  enabled_routes: []  # Empty array enables all routes by default

website:
  enabled: true
  port: 8080
  listen_address: "0.0.0.0"
  network_name: "helder"
  relay_url: http://0xa55c1285d84ba83a5ad26420cd5ad3091e49c55a813eee651cd467db38a8c8e63192f47955e9376f6b42f6d190571cb5@5.161.110.21:4040
  relay_pubkey: 0xa55c1285d84ba83a5ad26420cd5ad3091e49c55a813eee651cd467db38a8c8e63192f47955e9376f6b42f6d190571cb5